output "DP-2" {
    mode "3840x2160@60"
    scale 1
    transform "normal"
    position x=0 y=720
}

output "HDMI-A-1" {
    mode "3840x2160@60"
    scale 1
    transform "normal"
    position x=0 y=0
}
